.img-fluid {
    max-width: 100%;
}

// #quanmoi {
//     background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./../../assets/quanmoi.jpg");
//     width:100%;
//     background-position:center top;
//     height: 300px;
// }

// #tintuc {
//     background-image: url("./../../assets/tinmoinhat.jpg");
    

// }

.quangcao {
    border: 2px solid #e65e22;
    border-style: dashed;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
