<div class="form">
    <h1 mat-dialog-title>Add branch</h1>
    <mat-dialog-content>
        <mat-form-field>
            <input matInput type="text" [(ngModel)]="departAdding.BranchCode" placeholder="BranchCode">
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput type="text" [(ngModel)]="departAdding.Name" placeholder="Enter name">
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput type="text" [(ngModel)]="departAdding.Address" placeholder="Enter address">
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput type="text" [(ngModel)]="departAdding.PhoneNumber" placeholder="Enter phone">
        </mat-form-field>
    </mat-dialog-content>
    <div class="actionBtn">
        <mat-dialog-actions>
            <button mat-button type="submit" (click)="addDepartment()" style="background-color: #007BFF; color: white">Add</button>
            <button mat-button type="button" mat-dialog-close>Cancel</button>
        </mat-dialog-actions>
    </div>
</div>