<div class="container" style="border-bottom: 0px; height: 50px;margin-top: 0px;">
    <div class="row">
        <!-- input search -->
        <div class="input-group col-md-5">
            <div class="input-group-btn">
                <button class="btn btn-default searchBtn" (click)="searchEmployee(keyw)">
                    <i class="fas fa-search "></i>
                </button>
            </div>
            <input placeholder=" Search..." [(ngModel)]="keyw" (keyup.enter)="searchEmployee(keyw)">
        </div>
        <!-- sortBranch -->
        <div class="col-md-3">
            <button class="sortByBranch" mat-button [matMenuTriggerFor]="menu">Filter by Branch</button>
            <mat-menu #menu="matMenu">
                <div *ngFor="let department of departments">
                    <button (click)="sortBranch(department)" mat-menu-item>{{ department.Name | uppercase }}</button>
                </div>

            </mat-menu>
        </div>


        <!-- button add -->
        <div>
            <button *ngIf='isAd' matTooltip="Add employee" class="btn btn-default addBtn" (click)="openAddEmpDialog()">
                <span>ADD </span>
                <i class="fas fa-plus"></i>
            </button>
            <button *ngIf='!isAd' [matTooltipPosition]="position" matTooltip="You don't have permission to perform this action" disabled
                class="btn btn-default" style="width: 90px; background-color: #e9e9e9; color: black; border: 1px solid black; cursor: not-allowed;">
                <span>ADD </span>
                <i class="fas fa-plus"></i>
            </button>
        </div>
    </div>
</div>

<div class="table">
    <div class="row">
        <div *ngFor="let employee of employees | paginate: { itemsPerPage: 3, currentPage: p }" class="emp col-md-3">
            <h3>INFORMATION</h3>
            <img src="{{ employee.Avatar }}" alt="">
            <p>
                <b>Name: </b>{{ employee.fullName }}
            </p>
            <p>
                <b>Email: </b>{{ employee.email }}
            </p>
            <p>
                <b>Phone: </b>{{ employee.phoneNumber }}
            </p>
            <!-- edit button and modal -->
            <button *ngIf='isAd' class="editBtn btn btn-default" (click)="openEditEmployeeDialog(employee)" style="max-width: 90px;">
                <i class="fas fa-edit"></i>
            </button>

            <button *ngIf='!isAd' matTooltip="You don't have permission to perform this action" class="btn btn-default disableBtn" style="width: 50px; cursor: not-allowed">
                <i class="fas fa-edit"></i>
            </button>
            <!-- delete button -->
            <button *ngIf='isAd' class="delBtn btn btn-default" (click)='chooseRemoveEmploy(employee)' data-toggle="modal" data-target="#myDelModal"
                style="max-width: 90px;">
                <i class="fas fa-trash-alt"></i>
            </button>
            <!-- delete modal -->
            <div id="myDelModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Delete Employee</h4>
                        </div>
                        <div class="modal-body">
                            <p>
                                Are you sure you want to delete this employee?
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="removeBtn btn btn-default" (click)='delEmployee()' data-dismiss="modal">Confirm</button>
                            <button type="button" class="closeBtn btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>